@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    /* Base colors */
    --background: #F4F4FB;
    --background-secondary: #D9DAF2;

    --text: #272757;
    --text-secondary: #3B3A6B;

    --border: #8686AC;
    --border-secondary: #B7B8E4;

    --primary: #8686AC;
    --primary-text: #F4F4FB;
    --primary-hover: #B7B8E4;
    --primary-border: #8686AC;

    --secondary: #B7B8E4;
    --secondary-text: #272757;
    --secondary-hover: #D9DAF2;
    --secondary-border: #B7B8E4;

    --accent: #8686AC;
    --accent-text: #F4F4FB;
    --accent-hover: #B7B8E4;

    --muted: #D9DAF2;
    --muted-text: #3B3A6B;
    --muted-hover: #B7B8E4;

    /* Light Mode Colors */
    --light-background-primary: #cacaca;
    --light-background-secondary: #f8f9fa;
    --light-foreground-primary: #272757;
    /* Darker blue from image */
    --light-foreground-secondary: #505081;
    /* Medium blue from image */

    --light-primary: #272757;
    /* Darker blue */
    --light-primary-foreground: #ffffff;
    --light-primary-hover: #505081;
    /* Medium blue */

    --light-secondary: #8686AC;
    /* Light purple from image */
    --light-secondary-foreground: #272757;
    --light-secondary-hover: #505081;

    --light-accent: #0F0E47;
    /* Darkest blue */
    --light-accent-foreground: #ffffff;

    --light-muted: #f1f1f1;
    --light-muted-foreground: #505081;

    --light-border: #8686AC;
    --light-border-hover: #505081;

    /* Dark Mode Colors - From Blue Eclipse Image */
    --dark-background-primary: #272757;
    /* Left panel blue */
    --dark-background-secondary: #505081;
    /* Right panel blue */
    --dark-foreground-primary: #ffffff;
    --dark-foreground-secondary: #8686AC;
    /* Light purple */

    --dark-primary: #8686AC;
    /* Light purple */
    --dark-primary-foreground: #ffffff;
    --dark-primary-hover: #a5a5c5;

    --dark-secondary: #505081;
    /* Medium blue */
    --dark-secondary-foreground: #ffffff;
    --dark-secondary-hover: #6464A4;

    --dark-accent: #0F0E47;
    /* Darkest blue */
    --dark-accent-foreground: #ffffff;

    --dark-muted: #505081;
    --dark-muted-foreground: #8686AC;

    --dark-border: #505081;
    --dark-border-hover: #8686AC;

    /* Shared Variables */
    --radius: 0.75rem;

    /* Light mode - black border */
    --border-decorative: #000;

    --shadow-custom: -30px 30px 0px 0px rgba(0, 0, 0, 0.5);
    /* Define the shadow variable */
  }

  /* Apply light mode by default */
  :root {
    --background: var(--light-background-primary);
    --background-secondary: var(--light-background-secondary);
    --text: var(--light-foreground-primary);
    --text-secondary: var(--light-foreground-secondary);
    --primary: var(--light-primary);
    --primary-text: var(--light-primary-foreground);
    --primary-hover: var(--light-primary-hover);
    --secondary: var(--light-secondary);
    --secondary-text: var(--light-secondary-foreground);
    --secondary-hover: var(--light-secondary-hover);
    --accent: var(--light-accent);
    --accent-text: var(--light-accent-foreground);
    --muted: var(--light-muted);
    --muted-text: var(--light-muted-foreground);
    --border: var(--light-border);
    --border-hover: var(--light-border-hover);
  }

  /* Dark mode class overrides */
  .dark {
    --background: var(--dark-background-primary);
    --background-secondary: var(--dark-background-secondary);
    --text: var(--dark-foreground-primary);
    --text-secondary: var(--dark-foreground-secondary);
    --primary: #8750fc;
    --primary-text: #ffffff;
    --primary-hover: #9d71fd;
    --primary-border: #8750fc;
    --secondary: var(--dark-secondary);
    --secondary-text: var(--dark-secondary-foreground);
    --secondary-hover: var(--dark-secondary-hover);
    --accent: var(--dark-accent);
    --accent-text: var(--dark-accent-foreground);
    --muted: var(--dark-muted);
    --muted-text: var(--dark-muted-foreground);
    --border: var(--dark-border);
    --border-hover: var(--dark-border-hover);

    /* Dark mode - white border */
    --border-decorative: #fff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text;
  }
}


/******************************************* 
  Rich Text Styles
*******************************************/ 
/* Headers */
.rich-text h1 {
  @apply text-4xl font-bold mb-4 text-primary;
}

.rich-text h2 {
  @apply text-3xl font-bold mb-4 text-primary;
}

.rich-text h3 {
  @apply text-2xl font-bold mb-4 text-primary;
}

.rich-text h4 {
  @apply text-xl font-bold mb-4 text-primary;
}

.rich-text h5 {
  @apply text-lg font-bold mb-4 text-primary;
}

.rich-text h6 {
  @apply text-base font-bold mb-4 text-primary;
}

/* Horizontal rules */
.rich-text hr {
  @apply border-accent my-8;
}

.rich-text a {
  @apply text-primary underline;
}

/* Typographic replacements */
.rich-text p {
  @apply mb-4 text-secondary;
}

/* Emphasis */
.rich-text strong {
  @apply font-bold;
}

.rich-text em {
  @apply italic;
}

.rich-text del {
  @apply line-through;
}

/* Blockquotes */
.rich-text blockquote {
  @apply border-l-4 border-accent pl-4 py-2 mb-4;
}

/* Lists */
.rich-text ul {
  @apply list-disc pl-4 mb-4;
}

.rich-text ol {
  @apply list-decimal pl-4 mb-4;
}

.rich-text li {
  @apply mb-2 text-secondary;
}

.rich-text li>ul {
  @apply list-disc pl-4 mb-2;
}

.rich-text li>ol {
  @apply list-decimal pl-4 mb-2 text-muted;
}

/* Code blocks */
.rich-text pre {
  @apply font-mono bg-gray-900 text-gray-200 rounded p-4 my-6;
}

.rich-text code {
  @apply font-mono bg-gray-900 text-gray-200 rounded px-2 py-1;
}

/* Tables */
.rich-text table {
  @apply w-full border-collapse border-gray-300 my-6;
}

.rich-text th {
  @apply bg-gray-900 text-left py-2 px-4 font-semibold border-b border-gray-300;
}

.rich-text td {
  @apply py-2 px-4 border-b border-gray-300;
}

/* Images */
.rich-text img {
  @apply w-full object-cover rounded-xl my-6;
}

/* Custom containers */
.rich-text .warning {
  @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Animations */

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

.animate-pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.delay-700 {
  animation-delay: 700ms;
}

@keyframes border-draw {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.animate-border-draw::before {
  content: '';
  animation: border-draw 2s ease-in-out forwards;
}